<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Broggle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7B6C20A91D6A05BD0097B6C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B6C20C21D6A05BD0097B6C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B6C20CD1D6A05BD0097B6C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
